capture.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="capture"
 targetNamespace="capture"
 xmlns:tns="capture"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="capture"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="capture"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="capture"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="receiveFileStruct">
   <complexContent>
    <restriction base="ns:rcvS">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="rcvS">
   <sequence>
     <element name="data" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="encodedLength" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
     <element name="decodedLength" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="sendFileBase64Request">
 <part name="fileName" type="xsd:string"/>
 <part name="data" type="xsd:string"/>
 <part name="encodedLength" type="xsd:unsignedInt"/>
 <part name="decodedLength" type="xsd:unsignedInt"/>
</message>

<message name="sendFileBase64Response">
 <part name="result" type="xsd:int"/>
</message>

<message name="receiveFileBase64">
 <part name="fileName" type="xsd:string"/>
</message>

<message name="rcvS">
 <part name="data" type="xsd:string"/>
 <part name="encodedLength" type="xsd:unsignedInt"/>
 <part name="decodedLength" type="xsd:unsignedInt"/>
</message>

<message name="sendMIMERequest">
 <part name="magicNumber" type="xsd:int"/>
</message>

<message name="sendMIMEResponse">
 <part name="result" type="xsd:int"/>
</message>

<message name="openDocumentRequest">
 <part name="fileName" type="xsd:string"/>
</message>

<message name="openDocumentResponse">
 <part name="result" type="xsd:int"/>
</message>

<message name="pingRequest">
 <part name="a" type="xsd:string"/>
</message>

<message name="pingResponse">
 <part name="result" type="xsd:string"/>
</message>

<message name="visitRequest">
 <part name="a" type="xsd:string"/>
</message>

<message name="visitResponse">
 <part name="result" type="xsd:string"/>
</message>

<portType name="capturePortType">
 <operation name="sendFileBase64">
  <documentation>Service definition of function ns__sendFileBase64</documentation>
  <input message="tns:sendFileBase64Request"/>
  <output message="tns:sendFileBase64Response"/>
 </operation>
 <operation name="receiveFileBase64">
  <documentation>Service definition of function ns__receiveFileBase64</documentation>
  <input message="tns:receiveFileBase64"/>
  <output message="tns:rcvS"/>
 </operation>
 <operation name="sendMIME">
  <documentation>Service definition of function ns__sendMIME</documentation>
  <input message="tns:sendMIMERequest"/>
  <output message="tns:sendMIMEResponse"/>
 </operation>
 <operation name="openDocument">
  <documentation>Service definition of function ns__openDocument</documentation>
  <input message="tns:openDocumentRequest"/>
  <output message="tns:openDocumentResponse"/>
 </operation>
 <operation name="ping">
  <documentation>Service definition of function ns__ping</documentation>
  <input message="tns:pingRequest"/>
  <output message="tns:pingResponse"/>
 </operation>
 <operation name="visit">
  <documentation>Service definition of function ns__visit</documentation>
  <input message="tns:visitRequest"/>
  <output message="tns:visitResponse"/>
 </operation>
</portType>

<binding name="capture" type="tns:capturePortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="sendFileBase64">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="receiveFileBase64">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendMIME">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="openDocument">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="ping">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="visit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="capture">
 <documentation>gSOAP 2.7.10 generated service definition</documentation>
 <port name="capture" binding="tns:capture">
  <SOAP:address location="http://192.168.0.131:1234"/>
 </port>
</service>

</definitions>
