capture.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="capture"
 targetNamespace="capture"
 xmlns:tns="capture"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="capture"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="capture"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="capture"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="allEvents">
   <complexContent>
    <restriction base="ns:a1">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="receiveFileStruct">
   <complexContent>
    <restriction base="ns:s1">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="regkey">
   <sequence>
     <element name="created-at" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="event-type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="proc-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value-type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="processFile">
   <sequence>
     <element name="created-at" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="event-type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="proc-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="osProcess">
   <sequence>
     <element name="created-at" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="event-type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="parent-pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="parent-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="dynRegArray">
   <sequence>
    <element name="item" type="ns:regkey" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="dynFileArray">
   <sequence>
    <element name="item" type="ns:processFile" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="dynProcArray">
   <sequence>
    <element name="item" type="ns:osProcess" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="a1">
   <sequence>
     <element name="regkeys" type="ns:dynRegArray" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="process-files" type="ns:dynFileArray" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="os-processes" type="ns:dynProcArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="s1">
   <sequence>
     <element name="data" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="encodedLength" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
     <element name="decodedLength" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="pingRequest">
 <part name="a" type="xsd:string"/>
</message>

<message name="pingResponse">
 <part name="result" type="xsd:string"/>
</message>

<message name="visitURLRequest">
 <part name="URL" type="xsd:string"/>
</message>

<message name="visitURLResponse">
 <part name="result" type="xsd:int"/>
</message>

<message name="sendFileBase64Request">
 <part name="fileName" type="xsd:string"/>
 <part name="data" type="xsd:string"/>
 <part name="encodedLength" type="xsd:unsignedInt"/>
 <part name="decodedLength" type="xsd:unsignedInt"/>
</message>

<message name="sendFileBase64Response">
 <part name="result" type="xsd:int"/>
</message>

<message name="receiveFileBase64Request">
 <part name="fileName" type="xsd:string"/>
</message>

<message name="receiveFileBase64Response">
 <part name="result" type="ns:receiveFileStruct"/>
</message>

<message name="openDocumentRequest">
 <part name="fileName" type="xsd:string"/>
 <part name="waitTimeMillisec" type="xsd:int"/>
</message>

<message name="openDocumentResponse">
 <part name="result" type="xsd:int"/>
</message>

<message name="returnRegistryEventsRequest">
 <part name="maxEventsToReturn" type="xsd:int"/>
</message>

<message name="returnRegistryEventsResponse">
 <part name="result" type="ns:dynRegArray"/>
</message>

<message name="returnFileEventsRequest">
 <part name="maxEventsToReturn" type="xsd:int"/>
</message>

<message name="returnFileEventsResponse">
 <part name="result" type="ns:dynFileArray"/>
</message>

<message name="returnProcessEventsRequest">
 <part name="maxEventsToReturn" type="xsd:int"/>
</message>

<message name="returnProcessEventsResponse">
 <part name="result" type="ns:dynProcArray"/>
</message>

<message name="returnEventsRequest">
 <part name="maxEventsToReturn" type="xsd:int"/>
</message>

<message name="returnEventsResponse">
 <part name="result" type="ns:allEvents"/>
</message>

<message name="sendMIMERequest">
 <part name="magicNumber" type="xsd:int"/>
</message>

<message name="sendMIMEResponse">
 <part name="result" type="xsd:int"/>
</message>

<portType name="capturePortType">
 <operation name="ping">
  <documentation>Service definition of function ns__ping</documentation>
  <input message="tns:pingRequest"/>
  <output message="tns:pingResponse"/>
 </operation>
 <operation name="visitURL">
  <documentation>Service definition of function ns__visitURL</documentation>
  <input message="tns:visitURLRequest"/>
  <output message="tns:visitURLResponse"/>
 </operation>
 <operation name="sendFileBase64">
  <documentation>Service definition of function ns__sendFileBase64</documentation>
  <input message="tns:sendFileBase64Request"/>
  <output message="tns:sendFileBase64Response"/>
 </operation>
 <operation name="receiveFileBase64">
  <documentation>Service definition of function ns__receiveFileBase64</documentation>
  <input message="tns:receiveFileBase64Request"/>
  <output message="tns:receiveFileBase64Response"/>
 </operation>
 <operation name="openDocument">
  <documentation>Service definition of function ns__openDocument</documentation>
  <input message="tns:openDocumentRequest"/>
  <output message="tns:openDocumentResponse"/>
 </operation>
 <operation name="returnRegistryEvents">
  <documentation>Service definition of function ns__returnRegistryEvents</documentation>
  <input message="tns:returnRegistryEventsRequest"/>
  <output message="tns:returnRegistryEventsResponse"/>
 </operation>
 <operation name="returnFileEvents">
  <documentation>Service definition of function ns__returnFileEvents</documentation>
  <input message="tns:returnFileEventsRequest"/>
  <output message="tns:returnFileEventsResponse"/>
 </operation>
 <operation name="returnProcessEvents">
  <documentation>Service definition of function ns__returnProcessEvents</documentation>
  <input message="tns:returnProcessEventsRequest"/>
  <output message="tns:returnProcessEventsResponse"/>
 </operation>
 <operation name="returnEvents">
  <documentation>Service definition of function ns__returnEvents</documentation>
  <input message="tns:returnEventsRequest"/>
  <output message="tns:returnEventsResponse"/>
 </operation>
 <operation name="sendMIME">
  <documentation>Service definition of function ns__sendMIME</documentation>
  <input message="tns:sendMIMERequest"/>
  <output message="tns:sendMIMEResponse"/>
 </operation>
</portType>

<binding name="capture" type="tns:capturePortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="ping">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="visitURL">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendFileBase64">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="receiveFileBase64">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="openDocument">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="returnRegistryEvents">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="returnFileEvents">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="returnProcessEvents">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="returnEvents">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendMIME">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="capture" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="capture">
 <documentation>gSOAP 2.7.10 generated service definition</documentation>
 <port name="capture" binding="tns:capture">
  <SOAP:address location="http://0.0.0.0:1234"/>
 </port>
</service>

</definitions>
